<div id="text-container">
    <div id="bio">
        <div><img src="/bio.jpg" /></div>
        <p>In the work of Thomas Heaphy, tension and collapse abide: a morass of
            the alien and the organic, broken angular structures, feverish
            lines, anatomies of hell. His protean, hallucinatory images draw
            influence from Giorgio de Chirico, Hans Bellmer and Felix Vallotton,
            as well as contemporary graffiti writers, designers and tattooers.
            Based in Berlin, his illustrations have appeared in various
            publications such as Strike! Magazine, The Chop, Black Dog, H.P.A.S.
            and Calabash.</p>
        <p>Past exhibitions:
            <ul>
                <li>2013 –
                    <em>Art Against Knives Secret 7’s</em>
                    – Mother London, London</li>
                <li>2016 – <em>Double Helix</em> – Safehouse II, London</li>
                <li>2016 – <em>Untitled</em> – Phoenix Cafe, Bristol</li>
                <li>2017 –
                    <em>Exhibition and pop-up shop w/ The Emporium of Every Day
                        Excellence</em>
                    – Zonoteka, Berlin</li>
                <li>2017 –
                    <em>Jacketon Jacketoff w/ Berlin Wives Club</em>
                    – Keith, Berlin</li>
                <li>2019 –
                    <em>Am Seidenen Faden Gehangen</em>
                    – minibarberlin, Berlin</li>
                <li>2019 –
                    <em>Milking a Dead Horse w/ Abwasser Swimmer</em>
                    – Let It Bleed, Berlin</li>
            </ul>
        </p>
    </div>
</div>