<div id="contact-container">
    <div><p>For commissions or general enquiries, please contact via email or
            use the contact form below.</p>
        <form
            id="contact-form"
            method="POST"
            action="send"
            enctype="multipart/form-data"
        >
            <label>Name</label>
            <input type="text" name="name" required />
            <label>E-mail Address</label>
            <input type="email" name="email" required />
            <label>Message</label>
            <textarea class="message" name="message" required></textarea>
            <input type="hidden" name="_csrf" value="{{csrfToken}}" />
            <button type="submit">Submit</button>
        </form>

    </div>
</div>