<div id="control-panel">
    <div style="display: flex; width: 690px; gap: 90px; align-items: center" >
        <div><img src="/columnleft.jpg" style="height: 200px"></div>
        <div id="text-container">
        <form>
            <input
                v-model="title"
                type="text"
                name="title"
                placeholder="Title"
            />
            <input
                v-model="description"
                type="text"
                name="description"
                placeholder="Description"
            />
            <input
                v-model="category"
                type="text"
                name="category"
                placeholder="Category"
            />
            <input
                @change="handleChange"
                id="file"
                type="file"
                name="file"
                accept="image/*"
                hidden
            />
            <label for="file">Choose file</label>
            <span id="file-chosen">No file chosen</span>

            <button @click.prevent="submitFile" type="submit">Submit</button>
            </form>
            </div>
            <div><img src="/columnright.jpg" style="height: 200px"></div>
    </div>
    <div id="images-list-container">
        <div id="images-to-delete" v-for="image in images" v-bind:key="image.id">
        <div>\{{image.category}}</div>
        <div>\{{image.title}}</div>
        <div @click="deleteImage(image.id)" class="delete-button">Delete</div>
    </div>
    </div>
</div>