body {
    background-color: black;
    color: white;
    margin: 0;
    box-sizing: border-box;
    font-family: "Work Sans";
}

header {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 60px;
    margin-right: 60px;
}

#logo img {
    height: 120px;
}

#top-menu {
    display: flex;
    gap: 50px;
}

#top-menu div {
    font-family: "Work Sans";
    font-size: 15px;
    letter-spacing: 4px;
    text-transform: uppercase;
}

#top-menu a {
    color: white;
    text-decoration: none;
}

#top-menu a:hover,
.menu-item:hover,
.menu li:hover {
    color: grey;
    transition: color 0.5s;
    cursor: pointer;
}

.menu-item {
    cursor: default;
}

#top-menu img:hover {
    opacity: 60%;
    transition: opacity 0.5s;
}

.dropdown-menu {
    transition: all 1s ease-in-out;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
    text-align: left;
    width: auto;
}

.dropdown-menu.closed .menu {
    height: 0px;
    visibility: hidden;
    background: black;
}

.menu {
    list-style-type: none;
    position: absolute;
    z-index: 2;
    /* background-color: rgb(46, 46, 46); */
    padding-left: 25px;
    padding-right: 25px;
}

#login-error {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: red;
}

.splash-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#text-container,
#image-container {
    width: 100vw;
    height: auto;
    font-size: 16px;
    font-family: Yantramanav;
    display: flex;
    justify-content: center;
}

#text-container form {
    padding-bottom: 100px;
    width: 20vw;
    gap: 10px;
}

#control-panel {
    display: flex;
    flex-direction: column;
}

#upload-form {
}

#images-to-delete {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    margin-left: 40%;
}

.delete-button {
    color: red;
    cursor: pointer;
    border: 1px red solid;
    padding-left: 10px;
    padding-right: 10px;
    font-family: "Work Sans";
    font-size: 12px;
    text-transform: uppercase;
}

.delete-button:hover {
    color: grey;
    transition: color 0.5s;
    cursor: pointer;
}

#image-container {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    gap: 10px 10px;
}

.image-thumbnail {
    display: flex;
    height: 300px;
    width: 300px;
}

.image-thumbnail img {
    position: absolute;
    clip: rect(55px, 245px, 245px, 55px);
    height: 400px;
}

.image-thumbnail img:hover {
    opacity: 0.7;
    transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -webkit-transition: opacity 0.5s ease-in-out;
}

.image-thumbnail span {
    text-align: center;
}

#bio {
    width: 700px;
}

form {
    display: flex;
    flex-direction: column;
}

form input {
    background-color: black;
    border: 1px white solid;
    color: white;
}

form label {
    padding-top: 10px;
}

form .message {
    height: 300px;
    resize: none;
    background-color: black;
    border: 1px white solid;
    color: white;
}

form button {
    margin-top: 10px;
    width: 100px;
}

footer {
    position: absolute;
    box-sizing: border-box;
    bottom: 10px;
    right: 0;
    left: 0;
    font-size: 10px;
    font-family: "Work Sans";
    letter-spacing: 4px;
    margin: 10px;
    color: white;
    text-align: center;
}

#admin-login {
    position: absolute;
    bottom: 10px;
    width: 30px;
    height: 30px;
    background: black;
}

#login-box {
    visibility: hidden;
    position: fixed;
    left: 50%;
    top: 50%;
    padding: 20px;
    text-align: left;
    line-height: 20px;
    transform: translate(-50%, -50%);
    z-index: 2;
    background-color: rgb(27, 27, 27);
    width: 300px;
    height: 150px;
    border: 2px white solid;
}

.fadeIn {
    opacity: 1;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-duration: 1s;
}

@keyframes fadeInOpacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.dimScreen {
    opacity: 0.3;
    animation-name: dimScreenOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-duration: 1s;
}

@keyframes dimScreenOpacity {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0.3;
    }
}

#card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#card-view {
    position: absolute;
    top: 8vh;
}

#card-image img {
    height: 84vh;
}

#card-description {
    display: flex;
    justify-content: space-between;
    gap: 5px;
}

.text-span {
    font-size: 12px;
    font-weight: 100;
    margin: 0;
    padding: 0;
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
}
